#root {
  margin: 0;
  padding: 0;
}


select {
  margin: 0.5em;
  padding: 0.5em;
}


input[type='text'] {
  width: 50vw;
  padding: 0.5em;
  margin: 0 0.5em;
}


input[type='submit'] {
  padding: 0.1em 0.5em;
}


ul {
  list-style: none;
  margin-left: 0.5em;
  padding-left: 0;
}


li {
  margin-bottom: 0.5em;
}


a.insert-btn {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


a.insert-btn:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


button.insert-btn:hover {
  border-color: #646cff;
}


button.insert-btn:focus,
button.insert-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }


  a.insert-btn:hover {
    color: #747bff;
  }


  button {
    background-color: #f9f9f9;
  }
}